<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fas.ym.dao.OrderDetailDao">
	<select id="getUserProducts" resultMap="orderDetail">
		select * from
		easybuy_order_detail d,easybuy_product p
		where d.productId=p.id and
		d.orderId=#{id} and p.isDelete=0;
	</select>
	<resultMap type="team.fas.ym.entity.OrderDetail"
		id="orderDetail">
		<id column="id" property="id"></id>
		<result column="orderId" property="orderId" />
		<result column="productId" property="productId" />
		<result column="quantity" property="quantity" />
		<result column="cost" property="cost" />
		<collection property="products"
			ofType="team.fas.ym.entity.Product">
			<id property="id" column="id" />
			<result property="name" column="name" />
			<result property="fileName" column="fileName" />
		</collection>
	</resultMap>
</mapper>