<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fas.ym.dao.ProductDao">
	<select id="getProductCount" resultType="int">
		select count(1) as count
		from easybuy_product where isDelete=0;
	</select>
	<select id="getProductsList" resultMap="product">
		select *
		from
		easybuy_product
		where isDelete=0;
	</select>
	<select id="getProductsListToPage" resultMap="product">
		select * from
		easybuy_product
		where isDelete=0 limit #{arg1},#{arg2};
	</select>
	<select id="getProductById" resultMap="product">
		select *
		from
		easybuy_product
		where isDelete=0 and id=#{id};
	</select>
	<update id="deleteProductById">
		update easybuy_product
		<set>
			isDelete=1
		</set>
		where id=#{id};
	</update>
	<insert id="insertProduct"
		parameterType="team.fas.ym.entity.Product">
		insert into
		easybuy_product
		values
		(#{id},#{name},#{description},#{price},#{stock},#{categoryLevel1Id},#{categoryLevel2Id},#{categoryLevel3Id},#{fileName},#{isDelete});
	</insert>
	<update id="updateProduct"
		parameterType="team.fas.ym.entity.Product">
		update easybuy_product
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
			<if test="price != null">price=#{price},</if>
			<if test="stock != null">stock=#{stock},</if>
			<if test="categoryLevel1Id != null">categoryLevel1Id=#{categoryLevel1Id},</if>
			<if test="categoryLevel2Id != null">categoryLevel2Id=#{categoryLevel2Id},</if>
			<if test="categoryLevel3Id != null">categoryLevel3Id=#{categoryLevel3Id},</if>
			<if test="fileName != null">fileName=#{fileName},</if>
			<if test="isDelete != null">isDelete=#{isDelete}</if>
		</set>
		where id=#{id}
	</update>
	<resultMap type="team.fas.ym.entity.Product" id="product">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="price" column="price" />
		<result property="stock" column="stock" />
		<result property="categoryLevel1Id" column="categoryLevel1Id" />
		<result property="categoryLevel2Id" column="categoryLevel2Id" />
		<result property="categoryLevel3Id" column="categoryLevel3Id" />
		<result property="fileName" column="fileName" />
		<result property="isDelete" column="isDelete" />
	</resultMap>
</mapper>