<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fas.ym.dao.UserDao">
	<select id="getUsersCount" resultType="int">
		select count(1) as count
		from easybuy_user;
	</select>
	<select id="getUsersList" resultMap="user">
		select * from easybuy_user
		order by loginName;
	</select>
	<select id="getUsersListToPage" resultMap="user">
		select * from
		easybuy_user
		order by loginName limit #{arg1},#{arg2};
	</select>
	<select id="getUserByLoginName" resultMap="user">
		select * from
		easybuy_user
		where loginName=#{loginName}
	</select>
	<select id="getPasswordByid" resultType="java.lang.String">
		select password from
		easybuy_user where id=#{id};
	</select>
	<select id="checkUser" resultType="int">
		select count(1) as count from
		easybuy_user where loginName=#{loginName} and password=#{password} and
		type=#{type};
	</select>
	<select id="getUserByName" resultMap="user">
		select * from easybuy_user
		where userName=#{userName};
	</select>
	<select id="getUserById" resultMap="user">
		select * from easybuy_user
		where id=#{id};
	</select>
	<select id="checkloginName" resultType="int">
		select count(1) as count
		from easybuy_user where loginName=#{loginName};
	</select>
	<select id="getUserNameByLoginName"
		resultType="java.lang.String">
		select userName from easybuy_user
		where
		loginName=#{loginName};
	</select>
	<delete id="deleteUserById">
		delete from easybuy_user where id = #{id};
	</delete>
	<insert id="insertUser" parameterType="team.fas.ym.entity.User">
		insert into
		easybuy_user
		values
		(#{id},#{loginName},#{userName},#{password},#{sex},#{identityCode},#{email},#{mobile},#{type});
	</insert>
	<update id="updateUser" parameterType="team.fas.ym.entity.User">
		update easybuy_user
		<set>
			<if test="userName != null">userName=#{userName},</if>
			<if test="loginName != null">loginName=#{loginName},</if>
			<if test="password != null">password=#{password},</if>
			<if test="sex != null">sex=#{sex},</if>
			<if test="identityCode != null">identityCode=#{identityCode},</if>
			<if test="email != null">email=#{email},</if>
			<if test="mobile != null">mobile=#{mobile},</if>
			<if test="type != null">type=#{type}</if>
		</set>
		where id=#{id}
	</update>
	<resultMap type="team.fas.ym.entity.User" id="user">
		<id property="id" column="id" />
		<result property="userName" column="userName" />
		<result property="loginName" column="loginName" />
		<result property="password" column="password" />
		<result property="sex" column="sex" />
		<result property="identityCode" column="identityCode" />
		<result property="email" column="email" />
		<result property="mobile" column="mobile" />
		<result property="type" column="type" />
	</resultMap>
</mapper>